{%extends 'index.html'%}
{%block content%}
 


<section data-bs-version="5.1" class="header16 cid-txTw483sIG mbr-parallax-background" id="header16-2i">

    

    
    

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>You Make Me Happy</strong></h1>
                <p class="mbr-text mbr-fonts-style display-7"><br><br>K_PET Fair는 매년 국내 펫 산업을 이끄는 다양한 업체들의 인기 상품들을 한데<br>업체와 소비자가 소통하는 만남의 장이 되는 것은 물론 펫 산업 트렌드를 한눈에 볼 수 있습니다.<br>매년 다양한 혜택과 함께 알차게 구성한 만큼 많은 반려인들이 합리적인 쇼핑을 할 수 있는 좋은 기회가 될 것 입니다.</p>
                
                <div class="video-wrapper mt-4"><iframe class="mbr-embedded-video" src="" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features1 cid-txfyP3CITq" id="features2-2">

    

    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <a href="{%url 'app:schedule'%}"><span class="mbr-iconfont mbri-clock"></span></a>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>일정안내</strong></h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <a href="{%url 'app:price'%}"><span class="mbr-iconfont mbri-cash"></span></a>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>가격안내</strong></h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <a href="https://www.bizkpet.co.kr/participation/participation_guide/" target="_blank"><span class="mbr-iconfont mbri-edit"></span></a>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>참가신청 안내</strong><strong><br></strong></h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <a href="{%url 'app:FAQ'%}"><span class="mbr-iconfont mbri-info"></span></a>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>FAQ</strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{%endblock%}