{%extends 'index.html'%}
{%block content%}
<section data-bs-version="5.1" class="content16 cid-txJCnHE5NZ" id="content16-1u">

    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <div class="mbr-section-head align-center mb-4">
                    <h3 class="mbr-section-title mb-0 mbr-fonts-style display-2"><strong>FAQ</strong>
                    </h3>
                    
                </div>
                <div id="bootstrap-accordion_51" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_51" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Q. (회원정보) 회원가입/로그인</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse1_51" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_51">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">[회원가입]쭈쭈쭈 APP/PC &gt; 메인페이지 &gt; 우측 상단 [로그인] 클릭 &gt; [회원가입] 클릭 &gt; 약관 동의 및 정보 입력[로그인]쭈쭈쭈 APP/PC &gt; 메인페이지 &gt; 우측 상단 [로그인] 클릭</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_51" aria-expanded="false" aria-controls="collapse2">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Q. (사전등록) 입장권 신청은 어떻게 하나요?</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse2_51" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_51">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">입장권 신청은 '쭈쭈쭈' 에서만 신청이 가능합니다.<br><br>1) 쭈쭈쭈 회원가입 및 로그인<br>2) [입장권] &gt; [구매 가능 입장권] 에서 희망 전시회 입장권 구매<br><br>신청하신 입장권은 [입장권함] 에서 확인하실 수 있습니다.<br><br>&lt;무료입장권 신청의 경우&gt;<br>가고자 하는 전시회의 입장권 [신청하기] 버튼 클릭 &gt; 간단한 설문조사 &gt; 신청하기 &gt; 신청완료<br><br>&lt;유료입장권 신청의 경우&gt;<br>유료입장권의 경우, 구매 시 반드시 취소/환불 조건을 확인해주세요.<br><br>가고자 하는 전시회의 입장권 [구매하기] 버튼 클릭 &gt; 간단한 설문조사 &gt; 구매 수량 (선택 최대 3장까지) &gt; 구매하기 &gt; 결제금액 확인 및 결제수단 선택 &gt; 결제하기 &gt; 구매완료!<br><br>-구매수단-<br>*신용카드:&nbsp; 본인인증 후 신용카드 결제<br>*쭈머니:&nbsp; 충전한 쭈머니를 사용하여 결제<br>*초청장:&nbsp; 보유하고 있는 무료초청장으로 결제<br>*초청장 등록:&nbsp; 결제수단 [초청장] 선택 &gt; 초청장 등록 &gt; 쿠폰번호 입력 &gt; 등록</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_51" aria-expanded="false" aria-controls="collapse3">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Q. (사전등록) 일정을 놓쳐 사전등록을 하지 못했습니다. 현장에서도 입장 가능한가요?</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse3_51" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_51">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4"></p><p>
                                    사전등록을 못하셨더라도 현장에서 결제 가능합니다. 전시회 로비에 설치된 현장 등록대에서 구입하시고 입장하시면 됩니다.</p><p><br><br>▶︎&nbsp; &nbsp; 중학생 이상 성인 :&nbsp; &nbsp; 10,000원</p><p>▶︎&nbsp; &nbsp; 초등학생&nbsp;:&nbsp; &nbsp; 5,000원</p><p>▶︎&nbsp; &nbsp; 미취학아동/국가유공자 본인 :&nbsp; &nbsp; 무료</p><p>▶︎&nbsp; &nbsp; 장애인 :&nbsp; &nbsp; 무료(복지카드 지참)</p><p>▶︎&nbsp; &nbsp; 무료초청장 소지자&nbsp;:&nbsp; &nbsp; 무료<br></p><p></p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_51" aria-expanded="false" aria-controls="collapse4">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Q. (사전등록) 초청장을 사용하고 싶습니다.</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse4_51" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_51">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">쭈쭈쭈 회원가입 및 로그인 &gt; 메뉴 [초청장] 클릭 &gt; 초청장 쿠폰 번호 등록 &gt; 초청장 사용하기 &gt; [구매하기] 클릭 (*취소/환불, 주의사항 필독!) &gt; 결제수단 [초청장] 선택 &gt; 초청장 쿠폰 선택 후 [결제하기]<br><br>* 등록한 초청장은 본인만 사용(입장권 구매/전시회 입장)할 수 있습니다. 동반인은 별도의 회원가입을 통해 동반인 본인의 계정으로 초청장을 등록하거나 입장권을 구매해주시길 바랍니다.<br><br>* 초청장은 지정된 전시회의 입장권 판매기간(사전등록기간) 내에만 등록/사용할 수 있습니다.유효기간 내에는 등록 및 등록취소, 사용 및 사용취소를 자유롭게 할 수 있습니다.<br>※ 입장권 판매기한(사전등록기한)은 판매오픈일로부터 전시회 개막일 기준, 전일 23시 59분까지입니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_51" aria-expanded="false" aria-controls="collapse5">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Q. (사전등록) 무료 입장 가능한 경우가 있나요?</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse5_51" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_51">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    미취학 아동/장애인 또는 국가유공자 본인/65세 이상 경로자인 경우, 확인 가능한 증빙서류를 지참하셨을 경우 무료 입장 가능합니다. ( ※ 장애인 – 복지카드, 65세 이상 경로자 – 신분증 )</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse6_51" aria-expanded="false" aria-controls="collapse6">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Q. (사전등록) 1장으로 3일 모두 입장 가능한가요?</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse6_51" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_51">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4"></p><p>◆&nbsp; &nbsp; 무료입장 전시회</p><p><span style="font-size: 1.1rem; background-color: transparent;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 1.1rem; background-color: transparent;">쭈쭈쭈에서 사전등록 시 3장의 입장권이 입장권함에 발행됩니다.</span></p><p>*&nbsp;&nbsp;&nbsp;&nbsp;3장의 입장권은 행사기간(3일) 동안 [1인 1일 1장]으로 사용 가능합니다.</p><p>*&nbsp;&nbsp;&nbsp;&nbsp;동반인과 함께 사용이 불가하기 때문에 각각 신청해주세요.</p><p>*&nbsp;&nbsp;&nbsp;&nbsp;타인 양도가 불가능하고, 본인에 한하여 사용 가능합니다.<br></p><br><p>◆&nbsp;&nbsp;&nbsp;&nbsp;유료입장 전시회</p><p>*&nbsp;&nbsp;&nbsp;&nbsp;쭈쭈쭈에서 구매한 입장권은 일일 입장권입니다. (1일1인기준)</p><p>*&nbsp;&nbsp;&nbsp;&nbsp;타인 양도가 불가능하고, 본인에 한하여 사용 가능합니다.</p><p>*&nbsp;&nbsp;&nbsp;&nbsp;2장 이상 구매 시 동반인과 함께 사용이 불가합니다.</p><p>*&nbsp;&nbsp;&nbsp;&nbsp;취소/환불은 전시회 개최 전일까지 가능합니다.</p><p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content16 cid-txJCOYRctY" id="content16-1w">

    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                
                <div id="bootstrap-accordion_52" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_52" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Q. (사전등록) 사전등록을 취소하고 싶습니다.</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse1_52" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_52">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4"></p><p>◆&nbsp;&nbsp;&nbsp;&nbsp;무료전시회인 경우</p><p>*&nbsp;&nbsp;&nbsp;&nbsp;무료 사전등록은 별도 취소/환불이 불가합니다.<br></p><br><p>◆&nbsp;&nbsp;&nbsp;&nbsp;유료전시회인 경우</p><p>*&nbsp;&nbsp;&nbsp;&nbsp;쭈쭈쭈 &gt;메뉴[입장권] &gt; 입장권 리스트에서 취소하고자 하시는 입장권의 [취소/환불] 버튼 선택 &gt; 취소 사유 입력 후 취소</p><p>*&nbsp;&nbsp;&nbsp;&nbsp;취소/환불은 전시회 개최 전일까지 가능합니다.</p><p><span style="font-size: 1.1rem; background-color: transparent;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 1.1rem; background-color: transparent;">취소/환불 기간 이후에는 취소/환불이 일체 불가합니다.</span></p><p><span style="font-size: 1.1rem; background-color: transparent;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 1.1rem; background-color: transparent;">환불은 결제 수단에 따라 환불되며, 신용카드 결제의 경우 최소 3일 ~ 최대 2주 정도 소요됩니다.</span></p><p></p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_52" aria-expanded="false" aria-controls="collapse2">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Q. (참관문의) 반려동물 동반 입장 가능한가요?</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse2_52" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_52">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4"></p><p>●&nbsp;&nbsp;&nbsp;&nbsp;반려동물 미동반 전시회로 지정되어 있을 시 목줄 착용 및 이동장 또는 유모차 사용여부와 관계없이 전시장 내에 반려동물의 입장이 전면 불가합니다.</p><p>●&nbsp;&nbsp;&nbsp;&nbsp;반려동물 동반가능 전시회의 경우 목줄을 착용하거나 이동장/슬링백/유모차에 태운 경우 동반 입장 가능합니다.</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; ◦&nbsp;&nbsp;&nbsp;&nbsp;– 공격성 있는 반려동물의 경우 입마개를 꼭 착용해주시기 바랍니다.</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; ◦&nbsp;&nbsp;&nbsp;&nbsp;– 반려동물 전시회 특성 상 많은 반려동물이 한 곳에 모여있어 매우 혼잡할 수 있습니다.&nbsp;<span style="font-size: 1.1rem; background-color: transparent;">반려동물이 낯선 환경 속에서 돌발행동을 할 가능성이 높기 때문에 불미스러운 사고가 발생할 수 있으니 펫티켓을 꼭 지켜주시기 바랍니다.</span></p><p></p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_52" aria-expanded="false" aria-controls="collapse3">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Q. (참관문의) 주차는 가능한가요?</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse3_52" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_52">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4"></p><p>각 전시장 주차장을 이용해주시면 됩니다. 케이펫페어 일정 별 전시 장소가 상이하오니 각 전시회 별 안내사항을 참고해주시기 바랍니다.</p><br><p>※ 주차권은 따로 제공되지 않습니다.</p><p></p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_52" aria-expanded="false" aria-controls="collapse4">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Q. (참관문의) 무료 셔틀버스 운행하나요?</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse4_52" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_52">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    케이펫페어 일정 별 셔틀버스 운행 여부 및 상세 노선은 상이하기 때문에, 각 전시회별 안내 페이지를 참고해주시기 바랍니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_52" aria-expanded="false" aria-controls="collapse5">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Q. (참관문의) 원하는 업체가 참가하는지 알고 싶습니다.</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse5_52" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_52">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    케이펫페어 홈페이지 [예정전시] – 참관 희망하는 전시회 클릭 – 부스배치도/참가기업 리스트를 확인하여 주시기 바랍니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse6_52" aria-expanded="false" aria-controls="collapse6">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Q. (참관문의) 전시회 재입장 가능한가요?</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse6_52" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_52">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    입장팔찌를 훼손하지 않으신 경우 당일에 한해 재입장 가능합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 0rem;"><a href="" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7"></p><a style="z-index:1" href=""></a></section><script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="/assets/smoothscroll/smooth-scroll.js"></script>  <script src="/assets/ytplayer/index.js"></script>  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>  <script src="/assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>  <script src="/assets/theme/js/script.js"></script>  
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
{%endblock%}