{%extends 'index.html'%}
{%block content%}
<section data-bs-version="5.1" class="features6 cid-txJnfPPsQg" id="features7-1n">
    <!---->
    

    
    
    <div class="container">
        <div class="card-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="/assets/images/23-04-600x849.jpg" alt="Mobirise Website Builder">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-box">
                        <h5 class="mbr-title mbr-fonts-style display-2"><strong>2023 메가주 일산(상)</strong></h5>
                        <p class="mbr-text mbr-fonts-style display-7"></p><p><strong><br></strong></p><br><p><strong>일 자</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2023.05.19(금) ~ 21(일)</p><p><strong>장 소</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;킨텍스 2전시장</p><p><strong>시 간</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10:00~18:00 (입장마감 17:30)</p><br><br><p>※ 사전등록 기간 : ~2023년 5월 18일(목) 23시 59분까지</p><p>※ 취소가능 기간 : ~2023년 5월 18일(목) 23시 59분까지 *이후에는 취소 및 환불 불가</p><p>※ 1인당 최대 3매까지 구매 가능합니다.</p><p>※ 입장바코드는 양도가 불가하며, 신청자 본인만 사용 가능합니다.</p><p>※ 무료입장 대상 : 미취학 아동/ 65세 이상 경로 우대자/ 장애인(복지카드 소지자)/ 국가 유공자(신분증 소지자)</p><p>※ 본 박람회는 반려동물 동반 입장 가능합니다.<br>(목줄 또는 하네스 착용 필수, 이동장/슬링백/유모차 이용 적극 권장)</p><br><p><br></p><p></p>
                        <div class="cost">
                            <span class="currentcost mbr-fonts-style pr-2 display-5">7,000원<br></span>
                            <span class="oldcost mbr-fonts-style display-7">정가 12,000원</span>
                        </div>
                        <div class="mbr-section-btn pt-3"><a href="https://mobiri.se" class="btn btn-primary display-4"><span class="mbrib-edit mbr-iconfont mbr-iconfont-btn"></span>부스배치도 &amp; 참가브랜드 보기</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content5 cid-txJlUUJjJz" id="content5-1i">
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
                
                <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5"><strong>상반기 역대급 펫페어! 전국 댕냥이들 메가주로 모여라!</strong></h4>
                <p class="mbr-text mbr-fonts-style display-7">[사전등록 안내]<br>– 사전등록 기간 : ~2023년 5월 18일(목) 23시 59분까지<br>– 취소가능 기간 : ~2023년 5월 18일(목) 23시 59분까지 *이후에는 취소 및 환불 불가<br>– 1인당 최대 3매까지 구매 가능합니다.<br>– 입장바코드는 행사 당일 확인할 수 있습니다. (쭈쭈쭈 실행 &gt; 메뉴 &gt; 입장권 &gt; 내입장권함)<br>– 입장바코드는 양도가 불가하며, 구매자 본인만 사용 가능합니다.<br>– 동반인은 “선물하기”를 통해 입장권을 선물해주세요. 2장 이상 구매 후 [본인+동반인] 함께 사용이 불가능합니다<br>– 선물한 입장권은 받는사람이 쭈쭈쭈 회원이어야만 수락이 가능하며, 7일 이내 선물수락을 하지 않으실 경우 선물이 자동 취소됩니다.<br>*선물하기 방법 : 쭈쭈쭈 실행/로그인 &gt; [내입장권함] &gt; 선물하기 &gt; 받는사람 정보 입력 &gt; 선물하기 &gt; 완료<br>*선물수락 방법 : 쭈쭈쭈 실행/로그인 &gt; [입장권함] &gt; [받은 선물함] &gt; 선물 [수락] &gt; 완료<br><br>[입장 안내]<br>무인 사전등록대 &gt; 입장 바코드 태그 &gt; 입장 팔찌(입장권) 수령 &gt; 전시회 입장</p>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="tabs content18 cid-txJlUUXiXy" id="tabs1-1j">

    

    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h3 class="mbr-section-title mb-0 mbr-fonts-style display-2">
                    <strong>Tabs</strong></h3>
                
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-8">
                <ul class="nav nav-tabs mb-4" role="tablist">
                    <li class="nav-item first mbr-fonts-style"><a class="nav-link mbr-fonts-style show active display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tabs1-1j_tab0" aria-selected="true">사전등록 및 입장료 안내</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style active display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tabs1-t_tab1" aria-selected="true">전시안내</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style active display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tabs1-1j_tab2" aria-selected="true">입장용 바코드 오픈</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style active display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tabs1-t_tab3" aria-selected="true">관람안내</a></li>
                    
                    
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane in active" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text mbr-fonts-style display-7">이미지<br><br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text mbr-fonts-style display-7">
                                    이미지</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab3" class="tab-pane" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text mbr-fonts-style display-7">행사 당일(2023.05.19~05.21) 오픈<br><br>※입장 바코드는 양도가 불가하며, 신청자 본인에 한해서만 사용 가능합니다.<br>※동반자는 각각 별도로 신청해주세요.</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab4" class="tab-pane" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text mbr-fonts-style display-7">
                                    이미지</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer3 cid-txTUSPOGHe" once="footers" id="footer3-2u">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">
                    
                    
                    
                    
                    
                <li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white text-primary" href="team.html">About us</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white text-primary" href="https://k-pet.co.kr/" target="_blank">K-PET</a></li></ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    
                    
                    
                    
                    
                    
                <div class="soc-item">
                        <a href="https://www.facebook.com/kpetfair" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.instagram.com/kpetfair/" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://blog.naver.com/kpetfair" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-naver socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.youtube.com/channel/UCKAtRXpcxKzTPwHB5KG_cqA" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2023 2__PET. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 0rem;"><a href="" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7"></p><a style="z-index:1" href=""></a></section><script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="/assets/smoothscroll/smooth-scroll.js"></script>  <script src="/assets/ytplayer/index.js"></script>  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>  <script src="/assets/mbr-tabs/mbr-tabs.js"></script>  <script src="/assets/theme/js/script.js"></script>  
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
{%endblock%}