{%extends 'index.html'%}
{%block content%}
<section data-bs-version="5.1" class="content7 cid-txTnBBOsKc" id="content7-2e">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <blockquote>
                <h5 class="mbr-section-title mbr-fonts-style mb-2 display-5"><p><strong>참관 안내</strong>&nbsp;&nbsp;&nbsp;&nbsp;</p></h5>
                <p class="mbr-text mbr-fonts-style display-4"></p><p>•&nbsp;&nbsp;&nbsp;&nbsp;케이펫페어 입장권은 날짜가 지정되어 있지 않습니다. 전시기간 중 원하시는 날짜에 방문하시면 됩니다.</p><p>•&nbsp;&nbsp;&nbsp;&nbsp;입장바코드를 지참하시어, 전시장 ‘사전등록대’에 방문하시면 바코드를 ‘입장팔찌’로 교환해드립니다.</p><p>•&nbsp;&nbsp;&nbsp;&nbsp;케이펫페어 입장바코드는 행사 당일 쭈쭈쭈App 내에서 확인할 수 있습니다.</p><p></p></blockquote>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content7 cid-txTsnyzNyM" id="content7-2g">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <blockquote>
                <h5 class="mbr-section-title mbr-fonts-style mb-2 display-5"><strong>입장팔찌 수령안내</strong></h5>
                <p class="mbr-text mbr-fonts-style display-4"></p><p>•&nbsp;&nbsp;&nbsp;&nbsp;행사 당일 현장 사전등록대 키오스크에서 입장바코드 스캔 후 입장팔찌 수령이 가능합니다.</p><p>•&nbsp;&nbsp;&nbsp;&nbsp;바코드 분실 시 사전등록 본인의 성함 / 연락처로 조회가 가능합니다.</p><p></p></blockquote>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content7 cid-txTsnWxxXx" id="content7-2h">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <blockquote>
                <h5 class="mbr-section-title mbr-fonts-style mb-2 display-5"><strong>사전등록 예매 취소 시 유의사항</strong></h5>
                <p class="mbr-text mbr-fonts-style display-4"></p><p>•&nbsp;&nbsp;&nbsp;&nbsp;취소/환불기간 :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 1.1rem;">전시회 개막일 기준, 전일 23시 59분까지입니다.</span></p><p></p></blockquote>
            </div>
        </div>
    </div>
</section>
<section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 0rem;"><a href="" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7"></p><a style="z-index:1" href=""></a></section><script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="/assets/smoothscroll/smooth-scroll.js"></script>  <script src="/assets/ytplayer/index.js"></script>  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>  <script src="/assets/theme/js/script.js"></script>  
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">

{%endblock%}