{%extends 'index.html'%}
{%block content%}
<section data-bs-version="5.1" class="gallery3 cid-txypJOpusL" id="gallery3-m">
    
    
    <div class="container-fluid">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><p>
                <strong>예정전시</strong></p></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">예정된 박람회 일정을 한 번에 확인하세요!</h5>
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/assets/images/poster-img01-400x510.png" alt="Mobirise Website Builder" data-slide-to="0" data-bs-slide-to="0">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>2023 케이펫페어 수원</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">2023년 3월 3일(금) ~ 3월 5일(일)<br>수원메쎄</h6>
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{%url 'app:suwon'%}" class="btn item-btn btn-primary display-7"><span class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"></span>Read More</a></div>
                </div>
            </div><div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/assets/images/poster-img02-400x510.png" alt="Mobirise Website Builder" data-slide-to="1" data-bs-slide-to="1">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>2023 케이펫페어 세텍</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">2023년 3월 24일(금) ~ 3월 26일(일)<br>세텍</h6>
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{%url 'app:setec'%}" class="btn item-btn btn-primary display-7"><span class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"></span>Read More</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/assets/images/poster-img03-400x510.png" alt="Mobirise Website Builder" data-slide-to="2" data-bs-slide-to="2">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>2023 케이펫페어 부산</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">2023년 4월 21일(금) ~ 4월 23일(일)<br>벡스코</h6>
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{%url 'app:busan'%}" class="btn item-btn btn-primary display-7"><span class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"></span>Read More</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/assets/images/poster-img04-400x510.png" alt="Mobirise Website Builder" data-slide-to="3" data-bs-slide-to="3">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>2023 메가주 일산(상)</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">2023년 5월 19일(금) ~ 5월 21일(일)<br>킨텍스</h6>
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{%url 'app:ilsan'%}" class="btn item-btn btn-primary display-7"><span class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"></span>Read More</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/assets/images/poster-img06-400x510.png" alt="Mobirise Website Builder" title="" data-slide-to="4" data-bs-slide-to="4">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>2023 케이펫페어 코엑스</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">2023년 7월 21일(금) ~ 7월 23일(일)<br>코엑스</h6>
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-primary display-7" target="_blank"><span class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"></span>Read More</a></div>
                </div>
            </div><div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/assets/images/poster-img05-400x510.png" alt="Mobirise Website Builder" title="" data-slide-to="5" data-bs-slide-to="5">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>2023 케이펫페어 송도</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">2023년 8월 25일(금) ~ 8월 27일(일)<br>송도컨벤시아</h6>
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-primary display-7" target="_blank"><span class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"></span>Read More</a></div>
                </div>
            </div><div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/assets/images/poster-img07-400x510.png" alt="Mobirise Website Builder" title="" data-slide-to="6" data-bs-slide-to="6">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>2023 케이펫페어 대구</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">2023년 9월 22일(금) ~ 9월 24일(일)<br>엑스코</h6>
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-primary display-7" target="_blank"><span class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"></span>Read More</a></div>
                </div>
            </div><div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/assets/images/poster-img08-400x510.png" alt="Mobirise Website Builder" title="" data-slide-to="7" data-bs-slide-to="7">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>2023 케이펫페어 일산(하)</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">2023년 11월 17일(금) ~ 11월 19일(일)<br>킨텍스</h6>
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-primary display-7" target="_blank"><span class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"></span>Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 0rem;"><a href="" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7"></p><a style="z-index:1" href=""></a></section><script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="/assets/smoothscroll/smooth-scroll.js"></script>  <script src="/assets/ytplayer/index.js"></script>  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>  <script src="/assets/theme/js/script.js"></script>  
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
{%endblock%}  
