{%extends 'index.html'%}
{%block content%}
<section data-bs-version="5.1" class="features6 cid-txJeThA10N" id="features7-14">
    <!---->
    

    
    
    <div class="container">
        <div class="card-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="/assets/images/23-02-1256x1777.jpg" alt="Mobirise Website Builder">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-box">
                        <h5 class="mbr-title mbr-fonts-style display-2"><strong>2023 케이펫페어 세텍</strong><strong><br></strong></h5>
                        <p class="mbr-text mbr-fonts-style display-7"></p><p><br></p><br><p><br><strong>일 자</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2023.03.24(금) ~ 26(일)<br><br><strong>장 소</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;세텍(학여울역)<br><br><strong>시 간</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10:00~18:00 (입장마감 17:30)<br></p><br><p><br>※ 사전등록 기간 : ~2023년 3월 23일(목) 23시 59분까지</p><p>※ 취소가능 기간 : ~2023년 3월 23일(목) 23시 59분까지 *이후에는 취소 및 환불 불가</p><p>※ 1인당 최대 3매까지 구매 가능합니다.</p><p>※ 입장바코드는 양도가 불가하며, 신청자 본인만 사용 가능합니다.</p><p>※ 무료입장 대상 : 미취학 아동/ 65세 이상 경로 우대자/ 장애인(복지카드 소지자)/ 국가 유공자(신분증 소지자)</p><p>※ 본 박람회는 반려동물 동반 입장 가능합니다.<br>(목줄 또는 하네스 착용 필수, 이동장/슬링백/유모차 이용 적극 권장)</p><br><p><br></p><p></p>
                        <div class="cost">
                            <span class="currentcost mbr-fonts-style pr-2 display-5">5,000원<br></span>
                            <span class="oldcost mbr-fonts-style display-7">정가 10,000원</span>
                        </div>
                        <div class="mbr-section-btn pt-3"><a href="https://kcoupet.com/ticket/ticket_detail/140?ir_cd=" class="btn btn-primary display-4"><span class="mbrib-edit mbr-iconfont mbr-iconfont-btn"></span>부스배치도 &amp; 참가브랜드 보기</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content5 cid-txJdvStlqu" id="content5-11">
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
                
                <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5"><strong>3월의 케이펫페어는 아직 진행중! 세텍으로 모여라 댕댕이들!</strong></h4>
                <p class="mbr-text mbr-fonts-style display-7">[사전등록 안내]<br>– 사전등록 기간 : ~2023년 3월 23일(목) 23시 59분까지<br>– 취소가능 기간 : ~2023년 3월 23일(목) 23시 59분까지 *이후에는 취소 및 환불 불가<br>– 1인당 최대 3매까지 구매 가능합니다.<br>– 입장바코드는 행사 당일 확인할 수 있습니다. (쭈쭈쭈 실행 &gt; 메뉴 &gt; 입장권 &gt; 내입장권함)<br>– 입장바코드는 양도가 불가하며, 구매자 본인만 사용 가능합니다.<br>– 동반인은 “선물하기”를 통해 입장권을 선물해주세요. 2장 이상 구매 후 [본인+동반인] 함께 사용이 불가능합니다<br>– 선물한 입장권은 받는사람이 쭈쭈쭈 회원이어야만 수락이 가능하며, 7일 이내 선물수락을 하지 않으실 경우 선물이 자동 취소됩니다.<br>*선물하기 방법 : 쭈쭈쭈 실행/로그린 &gt; [내입장권함] &gt; 선물하기 &gt; 받는사람 정보 입력 &gt; 선물하기 &gt; 완료<br>*선물수락 방법 : 쭈쭈쭈 실행/로그인 &gt; [입장권함] &gt; [받은 선물함] &gt; 선물 [수락] &gt; 완료<br><br>[입장 안내]<br>무인 사전등록대 &gt; 입장 바코드 태그 &gt; 입장 팔찌(입장권) 수령 &gt; 전시회 입장</p>
            </div>
        </div>
    </div>
</section>
<section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 0rem;"><a href="" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7"></p><a style="z-index:1" href=""></a></section><script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="/assets/smoothscroll/smooth-scroll.js"></script>  <script src="/assets/ytplayer/index.js"></script>  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>  <script src="/assets/mbr-tabs/mbr-tabs.js"></script>  <script src="/assets/theme/js/script.js"></script>  
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
{%endblock%}