@font-face {
   font-family: 'The Jamsil 3 Regular';
   font-display: swap;
   src: url('file:///Users/kyungrin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-02-27_232046/fonts/The%20Jamsil%203%20Regular/font.ttf');
}
