asgiref==3.2.10
astroid==2.11.7
attrs==22.2.0
Automat==22.10.0
constantly==15.1.0
dill==0.3.4
distlib==0.3.6
Django==3.1
filelock==3.4.1
hyperlink==21.0.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
incremental==22.10.0
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mod-wsgi==4.9.4
mysql-connector-python==8.0.32
mysqlclient==2.1.1
platformdirs==2.4.0
protobuf==3.19.6
pylint==2.13.9
PyMySQL==1.0.2
pytz==2022.7
six==1.16.0
sqlparse==0.4.3
tomli==1.2.3
Twisted==22.4.0
typed-ast==1.5.4
typing_extensions==4.1.1
virtualenv==20.17.1
wrapt==1.15.0
zipp==3.6.0
zope.interface==5.5.2
