{%extends 'index.html'%}
{%block content%}
  
  <section class="board_detail-block">
    <div class="container mt-3">
    <div class="card border-dark mb-3">
      <div class="card-header" style="color: black;">
        <h4 class="pt-1">{{object.title}}</h4>
        <a href="mailto:{{object.email}}" style="color: rgb(56, 56, 56);">{{object.email}}</a>
      {% if object.modify_date %}
        <p class="pt-1">Created by {{object.author}} on {{object.modify_date}}</p>
      {% else %}
        <p class="pt-1">Created by {{object.author}} on {{object.create_date}}</p>
      {% endif %}
      </div>
  
      <div class="card-header" style="color: black;">
        {% if object.file_upload %}
          <a href="{{object.file_upload.url}}" class="text-decoration-none text-muted" role="button">
            첨부파일 : <i class="fa-solid fa-file-lines me-2"></i>{{object.get_FileName}}</a>
        {% else %}
            <a class="text-decoration-none text-muted">첨부파일 : </a>
        {% endif %}        
      </div>
      
      <div class="card-body text-dark">
        <p class="card-text">{{object.content | linebreaksbr}}</p>
        <div class="mt-4"></div>
      </div>

      <div class="card-footer d-flex justify-content-between">
        {% if  user == object.author %}
        <span>
          <a href="{% url 'base:update' object.id %}" class="btn btn-outline-dark">수정</a>
          <a href="{% url 'base:delete' object.id %}" class="delete btn btn-outline-dark">삭제</a>
          <a href="{%url 'base:list'%}" class="btn btn-outline-dark">목록</a>
        </span>
        {% else %}
        <span>
          <a href="{%url 'base:list'%}" class="btn btn-outline-dark">목록</a>
        </span>
        {% endif %}
      </div>
    </div>
    </div>
  </section>
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 0rem;"><a href="" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7"></p><a style="z-index:1" href=""></a></section><script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="/assets/smoothscroll/smooth-scroll.js"></script>  <script src="/assets/ytplayer/index.js"></script>  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>  <script src="/assets/mbr-tabs/mbr-tabs.js"></script>  <script src="/assets/theme/js/script.js"></script>  
  
  
<div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
   <input name="animation" type="hidden">
{%endblock%}

{% block script %}
<script type='text/javascript'>
  $(document).ready(function() {
    $(".delete").on('click', function() {
      if(confirm("정말로 삭제하시겠습니까?")) {
        location.href = $(this).data('uri');
      }
    });
  });

  $(document).ready(function() {
    $(".user_check").on('click', function() {
      alert("자신의 게시글만 수정 및 삭제가 가능합니다.")
    });
  });
</script>
{% endblock %}