@font-face {
   font-family: '양진체v0.9_ttf';
   font-display: swap;
   src: url('file:///Users/kyungrin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-02-27_232046/fonts/%EC%96%91%EC%A7%84%EC%B2%B4v0.9_ttf/font.ttf');
}
