@font-face {
   font-family: 'Cafe24Ohsquare';
   font-display: swap;
   src: url('file:///Users/kyungrin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-02-27_232046/fonts/Cafe24Ohsquare/font.ttf');
}
